@font-face {
    font-family: NotoSansJP-Bold;
    src: url(../fonts/NotoSansJP-Bold.otf);
}

@font-face {
    font-family: NotoSansJP-Medium;
    src: url(../fonts/NotoSansJP-Medium.otf);
}

@font-face {
    font-family: NotoSansJP-Regular;
    src: url(../fonts/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.main-content,
.intro,
.menu-bar-inner,
.banner {
    position: absolute;
}

.main-content:first-of-type {
    position: relative;
    display: inline-block;
}

.cover {
    position: relative;
    display: flex;
    justify-content: center;
}

.banner {
    background-image: url('../img/Banner1.png');
    background-size: cover;
    width: 100%;
    height: 520px;
}

.menu-bar-inner {
    padding: 17px 30px 13px;
    width: 85%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-bar-inner .logo {
    width: 15%;
    margin-left: 15px;
}

.menu-bar-inner nav {
    display: flex;
    justify-content: center;
    width: 70%;
}

.menu-bar-inner nav .navbar {
    display: flex;
}

.menu-bar-inner nav .navbar .navbar-title {
    display: none;
}

.menu-bar-inner nav .navbar .nav-item {
    margin-right: 54px;
    color: #FFFFFF;
    font-size: 18px;
}

.menu-bar-inner nav .navbar .nav-item:last-child {
    margin-right: 0;
}

.menu-bar-inner nav .navbar .nav-item a {
    color: #FFFFFF;
    letter-spacing: 0.01em;
    text-decoration: none;
    font-family: "NotoSansJP-Medium";
}

.menu-bar-inner nav .navbar .nav-item a:hover {
    color: #8262b5;
}

.menu-bar-inner nav .navbar .nav-item i {
    font-size: 14px;
}

.intro {
    font-family: "NotoSansJP-Bold";
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 170px;
    margin-left: 150px;
    margin-right: 150px;
}

.container {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.main-content {
    background-color: #FFFFFF;
    width: 1180px;
    margin-top: 420px;
}

.top-new-tab {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
}

.l {
    border-bottom: 1px solid #dddddd;
    margin-top: 40px;
    margin-bottom: 15px;
}

.top-new-date {
    font-family: "Roboto-Bold";
    font-size: 18px;
}

.update {
    margin-left: 25px;
}

.author {
    text-align: right;
}

.top-new-content {
    font-family: "NotoSansJP-Medium";
    font-size: 16px;
    margin-top: 40px;
}

.g {
    width: 151px;
    margin: 10px auto;
    border-bottom: 2px solid #0A68CE;
}

.banner-support {
    text-align: center;
    margin: 65px auto;
}

.index {
    width: 740px;
    height: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 3px solid #0A68CE;
    border-bottom: 3px solid #0A68CE;
}

.index-content {
    padding-left: 15px;
}

.new-1-tile {
    color: #0A68CE;
    font-size: 26px;
    font-weight: bold;
}

.new-2-tile {
    color: #0A68CE;
    font-size: 22px;
    font-weight: bold;
}

.new-4-tile {
    color: #0A68CE;
    font-size: 22px;
    font-weight: bold;
}

.new-5-tile {
    color: #333333;
    font-size: 18px;
    font-family: "NotoSansJP-Bold";
}

.yt {
    text-align: center;
    margin-top: 60px;
}

.table1-tile {
    color: #0A68CE;
    font-family: "NotoSansJP-Bold";
    font-size: 22px;
    margin-top: 65px;
}

table.blueTable {
    border: 1px solid #1C6EA4;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
    border: 1px solid #707070;
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 13px;
}

table.blueTable thead {
    background: #C1DAF5;
    height: 53px;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    border-top: 2px solid #444444;
}

table.blueTable tfoot td {
    font-size: 14px;
}

.table2-tile {
    color: #0A68CE;
    font-family: "NotoSansJP-Bold";
    font-size: 22px;
    margin-top: 45px;
}

.c {
    height: 160px;
}

.table3-tile {
    color: #0A68CE;
    font-family: "NotoSansJP-Bold";
    font-size: 22px;
    margin-top: 45px;
}

.Table {
    border: 1px solid #1C6EA4;
    border-collapse: collapse;
    height: 100px;
    overflow: hidden;
}

.d {
    overflow: scroll;
}

.new-6-tile {
    color: #0A68CE;
    font-size: 26px;
    font-family: "NotoSansJP-Bold";
}

.new-7-tile {
    color: #0A68CE;
    font-size: 22px;
    font-family: "NotoSansJP-Bold";
}

.new-7-content1 {
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.new-7-content2 {
    display: list-item;
    line-height: 30px;
}

.new-8-tile {
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.text-block {
    background-color: #F7F7F7;
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.h {
    padding: 40px 40px 40px 40px;
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.quote {
    background-color: #F7F7F7;
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.j {
    padding: 30px 30px 30px 30px;
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.quote-url {
    text-align: right;
}

.list_new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.list_new_item {
    max-width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.item_icon {
    font-size: 1.3rem;
}

.item_img {
    padding: 0 10px;
}

.related_post {
    margin-top: 80px;
}

.related_post_tile {
    text-align: center;
    font-size: 20px;
    font-family: "NotoSansJP-Bold";
}

.related_post_item {
    display: flex;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 2px #EDEAFF;
    border-radius: 4px 4px;
    padding: 15px 15px;
    margin: 30px 0;
}

.column_list {
    text-align: center;
}

.button1 {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}


/* .button2 {
    border: 0;
    background-color: #FFFFFF;
    color: #0A68CE;
} */

.button_icon {
    font-size: 2rem;
}


/*  */

.scrollToTop {
    display: flex;
    flex-direction: column;
    float: right;
    color: #ffffff;
    align-items: center;
}

.scrollToTop .top {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #0A68CE;
}

.scrollToTop .bottom {
    margin: 2rem 0 5rem 0;
    color: #0A68CE;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 14px;
    font-family: "NotoSansJP-Bold";
}


/*  */

.footer {
    width: 100%;
    align-items: center;
    background-color: #0A68CE;
}

.footer_item.top {
    position: relative;
}

.footer_item.top .item_img {
    text-align: center;
    padding-top: 60px;
}

.footer_item.top .item_contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.footer_item.top .item_contact p {
    font-size: 4rem;
    margin: 0;
}

.footer_item.top .item_contact span {
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.footer_item.top .item_contact button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0.1rem solid #fff;
    background: none;
    color: #fff;
}

.footer_item.bottom {
    display: grid;
    color: #fff;
    padding: 10px 150px;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.item_row {
    padding: 10px;
}

.item_row.list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.item_row.list h3 {
    padding: 10px 0 15px 0;
    font-size: 18px;
    font-family: "NotoSansJP-Bold";
}
.item_row.list h2 {
    padding: 10px 0 15px 0;
    font-size: 14px;
    font-family: "NotoSansJP-Bold";
}

.item_row.list li {
    font-size: 14px;
    font-family: "NotoSansJP-Bold";
}

.item_row p {
    font-size: 16px;
    font-family: "Roboto-Regular";
}
