@font-face {
    font-family: NotoSansJP-Bold;
    src: url(../fonts/NotoSansJP-Bold.otf);
}

@font-face {
    font-family: NotoSansJP-Medium;
    src: url(../fonts/NotoSansJP-Medium.otf);
}

@font-face {
    font-family: NotoSansJP-Regular;
    src: url(../fonts/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.main-content,
.intro,
.menu-bar-inner,
.banner {
    position: absolute;
}

.main-content:first-of-type {
    position: relative;
    display: inline-block;
}

.cover {
    position: relative;
    display: flex;
    justify-content: center;
}

.banner {
    background-image: url('../img/Banner1.png');
    background-size: cover;
    width: 100%;
    height: 520px;
}

.menu-bar-inner {
    padding: 17px 30px 13px;
    width: 85%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-bar-inner .logo {
    width: 15%;
    margin-left: 15px;
}

.menu-bar-inner nav {
    display: flex;
    justify-content: center;
    width: 70%;
}

.menu-bar-inner nav .navbar {
    display: flex;
}

.menu-bar-inner nav .navbar .navbar-title {
    display: none;
}

.menu-bar-inner nav .navbar .nav-item {
    margin-right: 54px;
    color: #FFFFFF;
    font-size: 18px;
}

.menu-bar-inner nav .navbar .nav-item:last-child {
    margin-right: 0;
}

.menu-bar-inner nav .navbar .nav-item a {
    color: #FFFFFF;
    letter-spacing: 0.01em;
    text-decoration: none;
    font-family: "NotoSansJP-Medium";
}

.menu-bar-inner nav .navbar .nav-item a:hover {
    color: #8262b5;
}

.menu-bar-inner nav .navbar .nav-item i {
    font-size: 14px;
}

.intro {
    font-family: "NotoSansJP-Bold";
    font-size: 26px;
    color: #FFFFFF;
    margin-top: 170px;
    margin-left: 150px;
    margin-right: 150px;
}

.content {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.main-content {
    background-color: #FFFFFF;
    width: 1180px;
    margin-top: 380px;
}

.top-new-tab {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
}

.l {
    border-bottom: 1px solid #dddddd;
    margin-top: 40px;
    margin-bottom: 15px;
}

.top-new-date {
    color: #B0B0B0;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto-Bold";
    font-size: 18px;
}

.update {
    margin-left: 25px;
}

.author {
    display: block;
    justify-content: right;
}

.top-new-content {
    font-family: "NotoSansJP-Medium";
    font-size: 16px;
    margin-top: 40px;
}

.g {
    width: 151px;
    margin: 10px auto;
    border-bottom: 2px solid #0A68CE;
}

.banner-support {
    text-align: center;
    margin: 65px auto;
}

.index {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.index-item {
    width: 740px;
    padding: 35px 45px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 3px solid #0A68CE;
    border-bottom: 3px solid #0A68CE;
}

.index-item .index-heading a {
    margin: 35px 60px;
    font-size: 20px;
    font-weight: 600;
    font-family: "NotoSansJP-Bold";
}

.index-item .index-title {
    font-size: 16px;
    margin-left: 60px;
    font-weight: bold;
    font-family: "NotoSansJP-Bold";
}

.index-span {
    font-size: 16px;
    margin-left: 90px;
    margin-bottom: 20px;
    font-family: "NotoSansJP-Medium";
}

.news-title-1 {
    color: #0A68CE;
    font-size: 26px;
    font-family: "NotoSansJP-Bold";
    margin-bottom: 30px;
}

.news-1-span {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
}

.news-title-2 {
    color: #0A68CE;
    font-size: 22px;
    font-family: "NotoSansJP-Bold";
    margin-bottom: 30px;
}

.news-content-2 {
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
    margin-bottom: 40px;
}

.news-title-3 {
    color: #0A68CE;
    font-size: 22px;
    font-family: "NotoSansJP-Bold";
    margin-bottom: 20px;
}

.news-3-span {
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
}

.news-3-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.news-3-img-tile {
    font-size: 13px;
    font-family: "Roboto-Regular";
    margin-bottom: 60px;
}

.news-title-4 {
    color: #0A68CE;
    font-size: 22px;
    font-family: "NotoSansJP-Bold";
    margin-bottom: 20px;
}

.news-content-4 {
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
    margin-bottom: 35px;
}

.news-4-img {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.news-4-img-tile {
    max-width: 320px;
    font-size: 12px;
    font-family: "Roboto-Regular";
    margin-bottom: 30px;
}

.news-title-5 {
    color: #333333;
    font-size: 18px;
    font-family: "NotoSansJP-Bold";
    margin-bottom: 25px;
}

.news-content-5 {
    display: flex;
    margin-bottom: 20px;
}

.news-5-span {
    font-size: 16px;
    font-family: "Roboto-Regular";
}

.yt {
    text-align: center;
    margin-top: 60px;
}

.table-tile-1 {
    color: #0A68CE;
    font-family: "NotoSansJP-Bold";
    font-size: 22px;
    margin-top: 65px;
    margin-bottom: 25px;
}

.table-content-1 {
    border: 1px solid #DFDFDF;
    border-radius: 7px;
    width: 100%;
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

table.table-item-1 thead {
    background: #C1DAF5;
}

.table thead th {
    color: #333333;
    border-left: 1px solid #DFDFDF;
    border-bottom: none;
    border-top: none;
}

table.table-item-1 tbody tr td {
    border-left: 1px solid #DFDFDF;
}

.table-tile-2 {
    color: #0A68CE;
    font-family: "NotoSansJP-Bold";
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.table-content-2 {
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    width: 100%;
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

table.table-item-2 tbody tr td {
    border-left: 1px solid #DFDFDF;
}

.table-tile {
    font-size: 12px;
    font-family: NotoSansJP-Regular;
    margin-top: 20px;
}

.table-tile-3 {
    color: #0A68CE;
    font-family: "NotoSansJP-Bold";
    font-size: 22px;
    margin-top: 45px;
    margin-bottom: 30px;
}

.table-item-3 {
    height: 101px;
    width: 981px;
    overflow: scroll;
}

table.table-item-3 tbody tr td {
    border: 1px solid #DFDFDF;
}

/*.scrollbar {*/
/*    background-color: #F5F5F5;*/
/*    float: left;*/
/*    height: 300px;*/
/*    margin-bottom: 25px;*/
/*    margin-left: 22px;*/
/*    margin-top: 40px;*/
/*    width: 65px;*/
/*    overflow-y: scroll;*/
/*}*/

/*.force-overflow {*/
/*    min-height: 450px;*/
/*}*/

/*#style-1::-webkit-scrollbar {*/
/*    width: 6px;*/
/*    background-color: #F5F5F5;*/
/*}*/
/*#style-1::-webkit-scrollbar-thumb {*/
/*    background-color: #000000;*/
/*}*/
/*#style-1::-webkit-scrollbar-track {*/
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*    background-color: #F5F5F5;*/
/*}*/

.news-title-6 {
    margin-top: 135px;
    margin-bottom: 40px;
    color: #0A68CE;
    font-size: 26px;
    font-family: "NotoSansJP-Bold";
}

.news-content-6 {
    margin-bottom: 45px;
    font-size: 16px;
    font-family: NotoSansJP-Regular;
}

.news-title-7 {
    color: #0A68CE;
    font-size: 22px;
    margin-bottom: 30px;
    font-family: "NotoSansJP-Bold";
}

.news-content-7 {
    color: #333333;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.news-7-li {
    display: list-item;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 16px;
    font-family: NotoSansJP-Regular;
}

.news-7-span {
    margin-bottom: 35px;
    margin-left: 20px;
    font-size: 12px;
    font-family: NotoSansJP-Regular;
}

.news-title-8 {
    color: #333333;
    margin-bottom: 25px;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.news-content-8 {
    margin-bottom: 25px;
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
}

.news-8-span {
    margin-left: 20px;
    font-size: 12px;
    font-family: NotoSansJP-Regular;
}

.text-block {
    background-color: #F7F7F7;
    width: 980px;
    height: auto;
    margin: 0 auto 30px;
}

.text-block-content {
    padding: 40px 40px 40px 40px;
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.img-tile {
    max-width: 240px;
    margin-top: 10px;
    margin-bottom: 37px;
    font-size: 12px;
    font-family: Roboto-Regular;
}

.quote {
    background-color: #F7F7F7;
    width: 980px;
    height: auto;
    margin: 0 auto;
}

.quote-content {
    padding: 30px 30px 30px 30px;
    color: #333333;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}

.quote-url {
    text-align: right;
    margin-top: 25px;
    margin-bottom: 60px;
    font-size: 14px;
    font-family: NotoSansJP-Regular;
}

.list_new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.list_new_item {
    max-width: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.item_icon {
    font-size: 1.3rem;
}

.item_img {
    padding: 0 10px;
}

.related_post {
    margin-top: 80px;
}

.related_post_tile {
    text-align: center;
    font-size: 20px;
    font-family: "NotoSansJP-Bold";
}

.related_post_item {
    display: flex;
    border: 1px solid #dddddd;
    box-shadow: 2px 2px 2px #EDEAFF;
    border-radius: 4px 4px;
    padding: 15px 15px;
    margin: 30px 0;
}

.button_list {
    text-align: center;
}

.button1 {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "NotoSansJP-Bold";
}



.button_icon {
    font-size: 2rem;
}


/*  */

.scrollToTop {
    display: flex;
    flex-direction: column;
    float: right;
    color: #ffffff;
    align-items: center;
}

.scrollToTop .top {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: #0A68CE;
}

.scrollToTop .bottom {
    margin: 2rem 0 5rem 0;
    color: #0A68CE;
    border: none;
    background: none;
    font-weight: 500;
    font-size: 14px;
    font-family: "NotoSansJP-Bold";
}


/*  */

.footer {
    width: 100%;
    align-items: center;
    background-color: #0A68CE;
}

.footer_item.top {
    position: relative;
}

.footer_item.top .item_img {
    text-align: center;
    padding-top: 60px;
}

.footer_item.top .item_contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.footer_item.top .item_contact p {
    font-size: 4rem;
    margin: 0;
}

.footer_item.top .item_contact span {
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.footer_item.top .item_contact button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0.1rem solid #fff;
    background: none;
    color: #fff;
}

.footer_item.bottom {
    display: grid;
    color: #fff;
    padding: 10px 150px;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.item_row {
    padding: 10px;
}

.item_row.list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.item_row.list h3 {
    padding: 10px 0 15px 0;
    font-size: 18px;
    font-family: "NotoSansJP-Bold";
}

.item_row.list h2 {
    padding: 10px 0 15px 0;
    font-size: 14px;
    font-family: "NotoSansJP-Bold";
}

.item_row.list li {
    font-size: 14px;
    font-family: "NotoSansJP-Bold";
}

.item_row p {
    font-size: 16px;
    font-family: "Roboto-Regular";
}