@font-face {
    font-family: NotoSansJP-Bold;
    src: url(../fonts/NotoSansJP-Bold.otf);
}

@font-face {
    font-family: NotoSansJP-Medium;
    src: url(../fonts/NotoSansJP-Medium.otf);
}

@font-face {
    font-family: NotoSansJP-Regular;
    src: url(../fonts/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

.main-content-top,
.intro_top,
.menu-bar-inner,
.banner3 {
    position: absolute;
}

.banner3 {
    background-image: url('../img/Banner3.png');
    background-size: cover;
    width: 100%;
    height: 700px;
}

.intro_top {
    font-family: "Roboto-Medium";
    font-size: 46px;
    color: #FFFFFF;
    margin-top: 170px;
    margin-left: 200px;
}
.breadcrumbs{
    margin-top: 45px;
}
.main-content-top:first-of-type {
    position: relative;
    display: inline-block;
}

.main-content-top {
    background-color: #FFFFFF;
    width: 1180px;
    margin-top: 570px;
}
.notify{
    font-size: 16px;
    margin-bottom: 60px;
    font-family: NotoSansJP-Bold;
}
.new-event{
    display: flex;
    justify-content: space-between;
}

.new-event p{
    font-family: "Roboto-Bold";
    font-size: 62px;
}
.button2 {
    margin-top: 28px;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Roboto-Bold";
}
.news-title {
    display: flex;
    justify-content: space-between;
}
.post_list{
    display: flex;
    justify-content: space-between;
}
.post_list-item{
    max-width: 510px;
}
.post_date {
    display: flex;
    margin-bottom: 20px;
}
.date{
    color: #B0B0B0;
    font-family: "NotoSansJP-Regular";
    font-size: 18px;
}
.new{
    color: #FF3333;
    margin-left: 20px;
    border: 1px solid #FF3333;
    padding: 5px;
    font-family: "Roboto-Bold";
    font-size: 16px;
}

.news-title a {
    color: #333333;
    font-family: "NotoSansJP-Regular";
    font-size: 16px;
}

.arrow {
    font-size: 1.2rem;
}

.n {
    border-bottom: 2px solid #dddddd;
    margin-top: 20px;
    margin-bottom: 30px;
}
.column{
    display: flex;
    justify-content: space-between;
}
.column p{
    font-family: "Roboto-Medium";
    font-size: 62px;
}
.column_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 135px;
}
.column_list-item-left{
    width: 420px;
}
.column_list_date {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.column_list-item-right{
    width: 605px;
}
.news_list{
    display: flex;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #dddddd;
}
.news-content{
    display: flex;
    margin-left: 45px;
}
.post_date {
    display: flex;
    margin-bottom: 20px;
}
.date{
    color: #B0B0B0;
    font-family: "NotoSansJP-Regular";
    font-size: 18px;
}
.new{
    color: #FF3333;
    margin-left: 20px;
    border: 1px solid #FF3333;
    padding: 5px;
    font-family: "Roboto-Bold";
    font-size: 16px;
}

.news-title a {
    color: #333333;
    font-family: "NotoSansJP-Medium";
    font-size: 20px;
}
.news-item{
    margin-right: 50px;
}
.a{
    display: table;
}
.arrow{
    display: table-cell; /* Important */
    vertical-align: middle; /* Important */
    font-size: 1.5rem;
}
.n{
    border-bottom: 2px solid #dddddd;

}
.about{
    font-size: 62px;
    font-family: Roboto-Medium;
}
.about-tile{
    font-size: 16px;
    font-family: NotoSansJP-Bold;
    margin-bottom: 55px;
}
.about-item{
    display: flex;
    justify-content: space-between;
}
.item_img{
   margin-top: 23px;
}
.item_span{
    width: 818px;
    font-size: 16px;
    font-family: NotoSansJP-Regular;
}
.alt{
    text-align: center;
    margin-top: 50px;
}
.youtube{
    margin-top: 30px;
    margin-bottom: 121px;
}
.altcircle_tile{
    text-align: center;
    font-size: 30px;
    font-family: NotoSansJP-Bold;
}
.altcircle_tile span{
    margin-left: 20px;
    margin-right: 20px;
}
.altcircle_img{
    margin-top: 90px;
    margin-bottom: 25px;
    text-align: center;
}
.altcircle_list{
    width: 660px;
    border: 1px solid #FFAC3E;
    border-radius: 10px;
    font-size: 16px;
    font-family: NotoSansJP-Regular;
    padding: 20px;
    margin: 0 auto 135px;
}
.altcircle_list ion-icon{
    color: #FFAC3E;
}
.tab-tile{
    text-align: center;
    font-size: 30px;
    font-family: NotoSansJP-Bold;
    margin-bottom: 75px;
}
.tab_tile span{
    margin-left: 20px;
    margin-right: 20px;
}
.tab-button{
    border: 0;
    border-bottom: 2px solid #707070;
    background-color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    font-family: NotoSansJP-Bold;
}
.tab-item{
    width: 900px;
    margin: 40px auto 0;
    display: flex;

}
.tab-item-img{
    margin-top: 26px;
}
.table-item-span{
    border: 1px solid #0A68CE;
    padding: 20px;
    margin-left: 25px;
}
/*.table-item-span p{*/
/*    margin-bottom: 0;*/
/*}*/